html,
body {
  margin-top: 0;
  padding: 0;
  width: 100%;
}
body {
  height: 100%;
  background: #151519;
  background-image: url("hospital-background.jpg");
  background-size: cover;
}
header h1 {
  text-align: center;
  padding: 3px;
  margin-top: 20px;
  font-family: "Alfa Slab One", cursive;
  color: #38cc77;
  font-size: 60px;
}
header h2 {
  text-align: center;
}
header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.buttonA {
  position: absolute;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
}
.buttonA {
  background: none;
  color: #000;
  width: 240px;
  height: 80px;
  border: 3px solid #de4839;
  font-size: 25px;
  border-radius: 4px;
  transition: 0.6s;
  overflow: hidden;
}
.buttonA:focus {
  outline: none;
}

.buttonA:before {
  content: "";
  display: block;
  position: absolute;
  background: #de4839;
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}

.buttonA:after {
  content: "";
  display: block;
  position: absolute;
  background: #de4839;
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translateX(-100px) scaleX(-15deg);
}

.buttonA:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  transition: 0.7s;
}

.buttonA:hover:after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 0.7s;
}

.buttonA:hover {
  background: #de4839;
  cursor: pointer;
}

.buttonP {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.buttonP {
  background: none;
  color: #000;
  width: 240px;
  height: 80px;
  border: 3px solid #39ca74;
  font-size: 25px;
  border-radius: 4px;
  transition: 0.6s;
  overflow: hidden;
}
.buttonP:focus {
  outline: none;
}

.buttonP:before {
  content: "";
  display: block;
  position: absolute;
  background: #39ca74;
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}

.buttonP:after {
  content: "";
  display: block;
  position: absolute;
  background: #39ca74;
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translateX(-100px) scaleX(-15deg);
}

.buttonP:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  transition: 0.7s;
}

.buttonP:hover:after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 0.7s;
}

.buttonP:hover {
  background: #39ca74;
  cursor: pointer;
}

.buttonD {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.buttonD {
  background: none;
  color: #000;
  width: 240px;
  height: 80px;
  border: 3px solid #423289;
  font-size: 25px;
  border-radius: 4px;
  transition: 0.6s;
  overflow: hidden;
}
.buttonD:focus {
  outline: none;
}

.buttonD:before {
  content: "";
  display: block;
  position: absolute;
  background: #423289;
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}

.buttonD:after {
  content: "";
  display: block;
  position: absolute;
  background: #423289;
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translateX(-100px) scaleX(-15deg);
}

.buttonD:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  transition: 0.7s;
}

.buttonD:hover:after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 0.7s;
}

.buttonD:hover {
  background: #423289;
  cursor: pointer;
}
